
CapitalCompass.xcodeproj/project.xcworkspace/xcuserdata/quinn.xcuserdatad/UserInterfaceState.xcuserstate
CapitalCompass.xcodeproj/project.xcworkspace/xcuserdata/quinn.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
