<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CapitalCompass.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D731D72B46A67F00A479BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D731E82B46A68100A479BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D731F22B46A68100A479BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
